.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
}

.menu-container> :first-child {
    margin-top: 10vh;
}