.column {
    background-color: #282625;
    box-shadow: inset 0 0 0 0.2px #eae4d7;
}

.red {
    background-color: #b0413e;
}

.blue {
    background-color: #afc2d5;
}

.green {
    background-color: #a3e276;
}

.subarray {

    box-shadow: inset 0 0 0 0.2px #790251;
}