.column {
    background-color: #282625;
    border: 1px solid #eae4d7;
}

.red {
    background-color: #b0413e;
}

.blue {
    background-color: #afc2d5;
}

.green {
    background-color: #a3e276;
}

.subarray {
    border: 1px solid #790251;
}