.container {
    padding-top: 2vh;
    height: 98vh;
    display: flex;
    flex-direction: column;
}

.canvas-container {
    flex: 2;
    overflow-y: auto;
    border: 2px solid #282625;
    padding: 1vmin;
}