html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #eae4d7;
}

*::-webkit-scrollbar {
  display: none;
}



#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}